div {
    width: 700px;
    margin: 150px auto;
    text-align: center;
}

a {
    padding: 25px;
    margin: 50px;
    border: solid 1px black;
    background: #9fec95;
    color: rgb(36, 33, 30);
    text-decoration: none;
}

a:hover {
    background: #285f21;

}