/* You can add global styles to this file, and also import other style files */
h1, h2 {
    text-align: center;
}

.alert-message {
    width: 190px;
    text-align: center;
    height: 30px;
    background: rgb(204, 57, 57);
}